@media (max-width:700px) {
    * {
        margin: 0;
        padding: 0;
        font-family: "Alata", sans-serif;
    }

    .size {
        background: url("images/mobile/image-hero.jpg");
        color: white;
        width: 100%;
        max-width:100%; /* Ensure the container doesn't exceed viewport width */
        height: 700px; /* Adjust height to fit content */
        display: flex;
        background-position: center;
        background-size: cover;
         /* Hide any overflowing content */
    }
    
    

    #menu {
        display: none;
        list-style: none;
        position: absolute;
        top: 70px;
        left: 50%;
        margin-top: 5px;
    }

    .hamburger {
        height: 15px;
        margin-left: 100px;
    }

    .p {
        display: flex;
        align-items: center;
        position: absolute;
        margin-top: 20px;
        margin-left: 40px;
    }

    .loop {
        margin-left: 20px;
    }

    .box1 {
        border: solid 2px white;
        height: 200px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 200px;
    }

    .p1 {
        font-size: 35px;
        text-align: center;
        margin-top: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: 200px;
        grid-template-rows: repeat(8, fr);
    }

    .pic {
        background-image: url(images/mobile/image-deep-earth.jpg);
        position: block;
        height: auto; /* Adjust height to fit content */
        width: 100%; /* Adjust width to fit container */
        color: white;
        margin-top: 20px;
        margin-left: auto;
    }

    #flat {
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .text {
        text-align: center;
        font-weight: 100;
        color: grey;
        font-size: 15px;
    }

    h3 {
        text-align: center;
    }

    .pic2 {
        background-image: url(images/mobile/image-night-arcade.jpg);
        background-position: center;
        background-size: cover;
        height: auto; /* Adjust height to fit content */
        width: 100%; /* Adjust width to fit container */
        color: white;
        margin-top: 20px;
        place-items: center;
    }

    .center {
        text-align: center;
        font-family: "ALATA";
        font-size: 25px;
    }
}
/* Global styles */
@media (max-width: 414px) { /* iPhone 13 width in portrait mode */
}